body {
    background: rgb(0, 26, 51);
}

.page-title {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    text-align: center;
    color: #b3b3b3;
}

.state-filter {
    padding-left: 20px;
}

.county-filter {
    padding-left: 60px;
}

.MuiMenuItem-root, .MuiInputLabel-root {
    font-size: 12px !important;
    color: #b3b3b3 !important;
}

.MuiSelect-selectMenu {
    font-size: 12px !important;
    color: #b3b3b3 !important;
}

.MuiTableCell-root {
    line-height: .75 !important;
    font-size: 12px !important;
    color: #b3b3b3 !important;
    border-bottom: 1px solid #7d7d7d !important;
}

.MuiTableCell-body {
    line-height: .75 !important;
    font-size: 12px !important;
    color: #b3b3b3 !important;
}

.MuiTableSortLabel-root {
    color: #b3b3b3 !important;
    font-size: 14px !important;
}

.MuiTypography-body2 {
    font-size: 12px !important;
    color: #b3b3b3 !important;
}

.MuiTablePagination-toolbar {
    background: rgb(0, 26, 51) !important;
}

.MuiInputLabel-shrink {
    color: #b3b3b3 !important;
}

.MuiMenu-paper {
    background: rgb(0, 26, 51, .9) !important
}

.MuiSvgIcon-root, .MuiSelect-icon {
    color: #b3b3b3 !important;
}

.MuiInput-underline:before {
    border-bottom: 1px solid #7d7d7d !important
}