body {
    /* background: rgb(225, 223, 223); */
}

.page-title {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: darkslategray;
}

.MuiMenuItem-root {
    font-size: 12px !important;
}

.MuiSelect-selectMenu {
    font-size: 12px !important;
}

.MuiTableCell-root {
    line-height: .75 !important;
    font-size: 12px;
}